fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-multipart
pydantic
pdfminer.six
python-docx
Pillow
pytesseract
openpyxl
passlib
jwt
bcrypt==3.2.2
python-jose[cryptography]
PyMuPDF
python-docx
Pillow